.div .input-field {
    color: darkslategray;
    opacity: 1;
}

.logos {
    justify-content: space-between center;
}

.logo {
    height: 90px;
}

.logos2 {
    justify-content: space-between;
}

.logo2 {
    height: 90px;
}

.row1 {
    width: 33.33%;
    padding: 5px;
    display: flex;
}

.lang {
    position: absolute;
    right: 150px;
}